<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Select your semester</h1>
    <form action="/sem" method="post">
    <select name="sem_id">
            <option value="sem1">Semester 1</option>
            <option value="sem2">Semester 2</option>
            <option value="sem3">Semester 3</option>
            <option value="sem4">Semester 4</option>
            <option value="sem5">Semester 5</option>
            <option value="sem6">Semester 6</option>
            <option value="sem7">Semester 7</option>
            <option value="sem8">Semester 8</option>
        </select>
        <button type="submit">Go</button>
</form>
</body>
</html>